<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs')%>
<body>
    <% const name = "Milan" %>
    <%- include('./partials/navbar.ejs')%>
    <!-- passing value using ejs -->
    <h1>Home Page . Welcome <%= name %></h1> 
   
    <div class="list-group">
        <% students.forEach((x) => { %>
            <a href="/students/<%= x._id%>" class="list-group-item list-group-item-action"><%= x.name %></a>
        <%}) %> 
      </div>
    <%- include('./partials/footer.ejs')%> 
</body>
</html>